body {
  background-color: #f2f6e3;
}

header, footer {
  font-size: 1.5rem;
}

ul {
  font-family: sans-serif;
  text-transform: uppercase;
}

h1 {
  text-transform: uppercase;
}

main {
  background-color: #eee8d5;
}

#content {
  color: #93a1a1;
}

#favs {
  color: #93a1a1;
}

main, dfn {
  background-color: #b58900;
}

h2, strong {
  color: #fff;
}

a {
  background-color: #719e07;
}

a:link {
  background-color: #2694d8;
}

h1, ol, li {
  color: #719e47;
}

h2, ol, li {
  color: #2aa198;
}

h1, li {
  background-color: #657ba3;
}

li {
  background-color: #586e75;
}

ul > li {
  background-color: #b58900;
}

strong + dfn {
  color: #fff;
}

[rel="external"] {
  background-color: #2694d8;
}

ul li:first-child {
  color: #719e47;
}

li:last-child {
  color: #2aa198;
}

li:nth-child(odd) {
  background-color: #657ba3;
}

li:nth-child(even) {
  background-color: #586e75;
}

li:nth-child(3rd) {
  background-color: #d04b16;
}
